/* .dropdown-select {
    padding: 2rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    background: url("data:image/svg+xml,<svg height='16px' width='16px' viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    border: 2px solid white;
}

.dropdown-select:hover {
    cursor: pointer;
}

.dropdown-select option {
    background-color: black;
    color: white;
    border: 2px solid white;

}	 */

:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: #222;
    --select-bg: rgba(255, 255, 255, 0.2);
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        /* linear-gradient(to bottom, #242424 96%, #eee 20%); */
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.5); */
    border: 2px solid white;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }

    /* Remove focus outline */
    &:focus {
        outline: none;
    }
}

select option {
    color: inherit;
    /* text-align: start; */
    background-color: var(--option-bg);
}