:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: var(--color-dark-1);
    --select-bg: rgba(255, 255, 255, 0.2);
    --colorDark: #4c0000;
    --colorDark: var(--color-red-1);
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    text-transform: capitalize;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        /* linear-gradient(to bottom, #242424 96%, #eee 20%); */
        linear-gradient(#000 90%, var(--colorDark) 10%);
    /* linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em); */
    color: white;
    color: #f4f4f4;
    cursor: pointer;
    border-radius: 0.5em;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.5); */
    border: 2px solid var(--colorDark);

    &::-ms-expand {
        display: none;
    }

    &:focus {
        outline: none;
    }
}

select option {
    color: inherit;
    background-color: var(--option-bg);
}

/* Tablet and up */
@media (min-width: 768px) {
    select {
        /* font-size: 1.25rem; */
        padding: 1rem 4rem 1rem 1rem;

    }
}