.mini-piano {
  display: flex;
  flex-direction: row;
  position: relative;

  .key {
    background-color: var(--color-white-1);

    &.white {
      outline: 1px solid var(--color-dark-1);
      width: 1rem;
      height: 3rem;
    }

    &.black {
      width: 0.33rem;
      height: 2rem;
      z-index: 2;
      margin: 0 -0.15rem 0 -0.15rem;
      outline: 1px solid var(--color-dark-1);
      background-color: var(--color-dark-1);
    }

    &[data-active="true"] {
      background-color: var(--piano-color-active);
    }

    &[data-isroot="true"] {
      background-color: var(--piano-color-isKey);
    }
  }
}