.scales-page {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    align-self: center;
  }

  .clear-button {
    margin: 1rem 0;
    max-width: fit-content;
    align-self: flex-end;
  }

  .scales-results {
    /*TODO: replace with gap higher*/
    margin-top: 2rem;
    max-width: 80rem;
  }

  .scales-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    max-height: 30rem;
    overflow-y: auto;
  }

  .scale-card {
    background-color: var(--color-dark-2);
    border: 1px solid var(--color-dark-3);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
    flex-grow: 1;

    color: var(--color-white-1);
    text-decoration: none;
  }
}