/* TODO: move to synth css */
.synth-controls {
  --synth-conrol-color: var(--color-dark-4);

  width: 100vw;
  height: 12.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark-2);
  border-top: 2px solid var(--color-dark-4);
  color: var(--color-white-1);

  .synth-controls-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;

    .control {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid var(--synth-conrol-color);
      border-radius: 0.25rem;
      height: 100%;
      min-width: 5rem;
      gap: 0.5rem;

      header {
        width: 100%;
        background-color: var(--synth-conrol-color);
        justify-content: center;
        padding: 0.25rem 0;
      }

      .content {
        flex-grow: 1;
        padding: 0.5rem;
        justify-items: center;
        align-content: center;
      }
    }
  }
}