/* Mobile-first styles */
.scale-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scale-row .scale-note {
    align-items: center;
    background-color: var(--color-white-1);
    border-radius: 4px 4px 0 0;
    color: var(--color-dark-1);
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    width: 2.5rem;
}

.scale-row .scale-numeral {
    font-size: 0.85rem;
    border: 2px solid var(--color-white-1);
    border-radius: 0 0 4px 4px;
    border-top: none;
    display: flex;
    justify-content: center;
    min-height: 1rem;
}

.scale-row p {
    margin: 0;
}

/* Tablet and up */
@media (min-width: 768px) {
    .scale-row {
        justify-content: space-between;
    }

    .scale-row .scale-note {
        width: 3rem;
        font-size: 1.25rem;
    }

    .scale-row .scale-numeral {
        font-size: 0.85rem;
    }
}

/* Desktop and up */
@media (min-width: 1024px) {
    .scale-row {
        gap: 0.5rem;
    }

    .scale-row .scale-note {
        width: 4rem;
        font-size: 1.5rem;
    }

    .scale-row .scale-numeral {
        font-size: 1rem;
    }
}