main {
  padding: 2rem;
  justify-content: center;
  max-width: -webkit-fill-available;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.scale-name {
  text-transform: capitalize;
  display: inline-flex;
  white-space: pre;
  align-items: center;
  flex-direction: row;
  font-size: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
}