main {
  padding: 2rem;
  justify-content: center;
  max-width: -webkit-fill-available;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.scale-name {
  text-transform: capitalize;
  display: inline-flex;
  white-space: pre;
  align-items: center;
  flex-direction: row;
  font-size: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* TODO: move to synth css */
.synth-controls {
  .synth-controls-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .control {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #000;
      border-radius: 0.25rem;
      height: 100%;
      min-width: 5rem;
      gap: 0.5rem;

      header {
        width: 100%;
        border-bottom: 2px solid #000;
        background-color: #000;
        justify-content: center;
        padding: 0.25rem 0;
      }

      .content {
        flex-grow: 1;
        padding: 0.5rem;
      }
    }
  }
}
